* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.header {
  display: inline-block;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 33;
  padding: 1em 0.5em;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  background-color: rgb(255, 255, 255);
}
.header__menuBar,
.header .menuBar {
  display: inline-block;
  width: 45%;
  text-align: left;
}
.header__menuBar--button,
.header .menuBar--button {
  display: inline-block;
}
.header__menuBar--logo,
.header__menuBar .logo,
.header .menuBar--logo,
.header .menuBar .logo {
  display: inline-block;
  margin-left: 1em;
  vertical-align: middle;
}
.header__menuBar--logo--H,
.header__menuBar .logo--H,
.header .menuBar--logo--H,
.header .menuBar .logo--H {
  display: inline-block;
  padding: 0.5em;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.25);
}
.header__menuBar--logo--HotelMiranda,
.header__menuBar .logo--HotelMiranda,
.header .menuBar--logo--HotelMiranda,
.header .menuBar .logo--HotelMiranda {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5em;
}
.header__sectionBar {
  display: inline-block;
  width: 45%;
  text-align: right;
  vertical-align: middle;
}
.header__sectionBar div {
  display: inline-block;
  width: 25%;
}

.nav {
  display: none;
  position: sticky;
  top: 65px;
  z-index: 33;
  background-color: rgb(255, 255, 255);
}
.nav--mobile {
  display: block;
}
.nav .navbar__item {
  margin-top: 0.5em;
  padding: 0.5em;
  list-style-type: none;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
}
.nav .navbar__item a {
  text-decoration: none;
  color: rgb(17, 17, 17);
}

.banner {
  padding: 3em 1.5em;
  background-color: rgb(51, 51, 51);
}
.banner__subtitle {
  padding-top: 1em;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
  /*font-family: $font-archivo;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.80px;

  color: $color-grey;


  padding-bottom: 2em;

  font-family: $font-archivo;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3px;
  text-align: left;

  color: $color-grey; */
  text-align: left;
}
.banner__title {
  padding-top: 1em;
  text-align: left;
  font-family: "Old Standard TT", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(255, 255, 255);
}
.banner__paragraf {
  position: relative;
  padding: 1em;
  width: 150px;
  top: 50px;
  left: 55%;
  background-color: rgb(255, 255, 255);
}
.banner__paragraf span {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.41px;
}

.card {
  position: relative;
  padding: 3em 1.5em;
}
.card__imagen {
  margin: 0 auto;
  width: 80%;
  height: 400px;
}
.card__imagen img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.card__description {
  position: relative;
}
.card__description__icon {
  padding-top: 2.5em;
}
.card__description__name {
  font-family: "Old Standard TT", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -1px;
}
.card__description__parragraf {
  margin: 0 auto;
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.rooms__swiper {
  position: relative;
  width: auto;
  height: 400px;
  overflow: hidden;
}
.rooms__swiper .swiper__imagenes {
  background-color: rgb(228, 228, 228);
}
.rooms__swiper .swiper__description {
  padding: 2em;
}
.rooms__swiper .swiper__description__title {
  font-family: "Old Standard TT", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1.2px;
  color: rgb(17, 17, 17);
}
.rooms__swiper .swiper__description__parragraf {
  margin-top: 2em;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(119, 119, 119);
}
.rooms__swiper .swiper__imagenes img {
  width: 80%;
  vertical-align: middle;
}
.rooms__swiper .swiper__description__parragraf--room {
  margin-top: 0;
}
.rooms__swiper .swiper__description__price {
  font-family: "Archivo", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  color: rgb(190, 173, 142);
}
.rooms__swiper .swiper__description__price span {
  font-family: "Archivo", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 43px;
  text-align: center;
  color: rgb(190, 173, 142);
}
.rooms__swiper__btn--prev, .rooms__swiper__btn--next {
  position: absolute;
  z-index: 9;
  width: 2rem;
  height: 2rem;
  background-color: rgb(255, 255, 255);
  top: 6.63rem;
  transition: background-color 0.6s ease-in-out;
}
.rooms__swiper__btn--prev:hover, .rooms__swiper__btn--prev:active, .rooms__swiper__btn--next:hover, .rooms__swiper__btn--next:active {
  background-color: rgb(190, 173, 142);
}
.rooms__swiper__btn--next {
  right: 0.94rem;
}
.rooms__swiper__btn--prev {
  left: 0.94rem;
}

.facilities__swiper {
  position: relative;
  width: auto;
  height: 320px;
  overflow: hidden;
}
.facilities__swiper .swiper__imagenes {
  background-color: rgb(228, 228, 228);
}
.facilities__swiper .swiper__description {
  padding: 2em;
}
.facilities__swiper .swiper__description__title {
  font-family: "Old Standard TT", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1.2px;
  color: rgb(17, 17, 17);
}
.facilities__swiper .swiper__description__parragraf {
  margin-top: 2em;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(119, 119, 119);
}
.facilities__swiper .swiper__imagenes {
  background-color: transparent;
}
.facilities__swiper .swiper__imagenes h1 {
  position: absolute;
  top: 0%;
  left: 50%;
  font-family: "Archivo", sans-serif;
  font-size: 120px;
  font-weight: 700;
  line-height: 130px;
  color: rgba(34, 34, 34, 0.04);
}
.facilities__swiper .swiper__description__title--score {
  margin-top: 2em;
  text-align: left;
}
.facilities__swiper .swiper__description__parragraf--score {
  text-align: left;
}
.facilities__swiper__btn--prev, .facilities__swiper__btn--next {
  position: absolute;
  z-index: 9;
  width: 2rem;
  height: 2rem;
  background-color: rgb(255, 255, 255);
  top: 6.63rem;
  transition: background-color 0.6s ease-in-out;
}
.facilities__swiper__btn--prev:hover, .facilities__swiper__btn--prev:active, .facilities__swiper__btn--next:hover, .facilities__swiper__btn--next:active {
  background-color: rgb(190, 173, 142);
}
.facilities__swiper__btn--next {
  right: 0.94rem;
}
.facilities__swiper__btn--prev {
  left: 0.94rem;
}
.facilities__swiper__pagination {
  margin-top: 4rem;
  position: relative;
  z-index: 10;
  height: 0.44rem;
  width: 100%;
  display: flex;
  gap: 0.44rem;
  justify-content: center;
}
.facilities__swiper__darkbullet {
  background-color: #333333;
  width: 0.44rem;
  height: 0.44rem;
  border-radius: 3rem;
  transition: background-color 0.6s ease-in-out;
  pointer-events: all !important;
}
.facilities__swiper__bullet {
  background-color: #EDEDED;
  width: 0.44rem;
  height: 0.44rem;
  border-radius: 3rem;
  transition: background-color 0.6s ease-in-out;
  pointer-events: all !important;
}
.facilities__swiper__bullet--active {
  background-color: rgb(190, 173, 142);
}

.cards__swiper {
  position: relative;
  margin-top: 3em;
  width: auto;
  height: 100%;
  overflow: hidden;
}
.cards__swiper__imagenes {
  background-color: transparent;
}
.cards__swiper__imagenes img {
  width: 80%;
  vertical-align: middle;
}
.cards__swiper__accesories {
  position: relative;
  margin: 0 auto;
  padding: 0.5em 1em;
  width: 200px;
  bottom: 20px;
  box-shadow: 0px 8px 16px 0px rgba(138, 138, 138, 0.05);
  background-color: rgb(255, 255, 255);
}
.cards__swiper__description {
  padding: 2em;
  padding-top: 0;
}
.cards__swiper__description__title {
  font-family: "Old Standard TT", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1.2px;
  color: rgb(17, 17, 17);
}
.cards__swiper__description__parragraf {
  margin-top: 2em;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(119, 119, 119);
}
.cards__swiper__description__price {
  padding-top: 1em;
  display: inline-block;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.41px;
  color: rgb(190, 173, 142);
}
.cards__swiper__description__span {
  margin-left: 1em;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.41px;
  text-align: right;
  color: rgb(189, 189, 189);
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("./public/images/Background-Footer.png");
  opacity: 0.03;
}

.footer {
  margin-top: 4em;
  padding: 2em 1.5em;
  position: relative;
}
.footer__title,
.footer .title {
  font-family: "Archivo", sans-serif;
  text-align: left;
}
.footer__title h2,
.footer .title h2 {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  margin-left: 1em;
  font-size: 26px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 3px;
}
.footer__title h2 span,
.footer .title h2 span {
  font-weight: 400;
}
.footer__title--H,
.footer .title--H {
  display: inline-block;
  padding: 0.4em 0.6em;
  vertical-align: middle;
  font-size: 40px;
  font-weight: 700;
  background-color: rgb(190, 173, 142);
  color: rgb(255, 255, 255);
}
.footer .parragraf {
  margin: 2em 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: justify;
  color: rgb(119, 119, 119);
}
.footer .RedesSociales {
  width: 70%;
  text-align: left;
  background-color: rgb(248, 248, 248);
  margin-bottom: 2em;
}
.footer .RedesSociales img {
  padding: 0.5em;
}
.footer .Services {
  width: 100%;
  text-align: left;
}
.footer .Services__title {
  padding-bottom: 1em;
  font-family: "Old Standard TT", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(34, 34, 34);
}
.footer .Services__contenedor {
  display: inline-block;
}
.footer .Services__contenedor__list {
  display: inline-block;
  width: 49%;
  list-style-type: none;
  vertical-align: top;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 48px;
  color: rgb(119, 119, 119);
}
.footer .Services__contenedor__list li {
  width: 165px;
}
.footer .ContactUs {
  margin-top: 2em;
  width: 100%;
  text-align: left;
}
.footer .ContactUs__title {
  font-family: "Old Standard TT", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(34, 34, 34);
}
.footer .ContactUs__contenedor {
  display: inline-block;
  padding-top: 2em;
}
.footer .ContactUs__contenedor h5 {
  display: inline-block;
  width: 49%;
  list-style-type: none;
  vertical-align: top;
  margin-left: 1em;
  font-family: "Old Standard TT", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgb(17, 17, 17);
}
.footer .ContactUs__contenedor h5 span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.4px;
  text-align: left;
  color: rgb(119, 119, 119);
}

.Copyright_Terminos {
  padding: 1em 1.5em;
  background-color: rgb(248, 248, 248);
}
.Copyright_Terminos p {
  padding: 0.5em 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.8px;
  letter-spacing: -0.5px;
  text-align: left;
}

/*# sourceMappingURL=styles.css.map */
