* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

// Variables
@import 'styles/constants/colors.scss';
@import 'styles/constants/fonts.scss';

// Mixins
@import 'styles/@mixins/Title.scss';
@import 'styles/@mixins/Subtitle.scss';
@import 'styles/@mixins/Text.scss';
@import 'styles/@mixins/Button.scss';
@import 'styles/@mixins/Pagination.scss';

// Components
@import 'styles/components/header.scss';
@import 'styles/components/banner.scss';
@import 'styles/components/card.scss';
@import 'styles/components/swiper.scss';
@import 'styles/components/carrusel.scss';
@import 'styles/components/footer.scss';
