* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

// Variables
@import 'styles/constants/colors.scss';
@import 'styles/constants/fonts.scss';

// Components
@import 'styles/components/header.scss';
@import 'styles/components/footer.scss';

// Pages
@import 'styles/pages/home.scss';
@import 'styles/pages/aboutUs.scss';
@import 'styles/pages/rooms.scss';
@import 'styles/pages/offers.scss';
@import 'styles/pages/contact.scss';



