* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.header {
  display: inline-block;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 33;
  padding: 1em 0.5em;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  background-color: rgb(255, 255, 255);
}
.header__menuBar,
.header .menuBar {
  display: inline-block;
  width: 45%;
  text-align: left;
}
.header__menuBar--button,
.header .menuBar--button {
  display: inline-block;
}
.header__menuBar--logo,
.header__menuBar .logo,
.header .menuBar--logo,
.header .menuBar .logo {
  display: inline-block;
  margin-left: 1em;
  vertical-align: middle;
}
.header__menuBar--logo--H,
.header__menuBar .logo--H,
.header .menuBar--logo--H,
.header .menuBar .logo--H {
  display: inline-block;
  padding: 0.5em;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.25);
}
.header__menuBar--logo--HotelMiranda,
.header__menuBar .logo--HotelMiranda,
.header .menuBar--logo--HotelMiranda,
.header .menuBar .logo--HotelMiranda {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5em;
}
.header__sectionBar {
  display: inline-block;
  width: 45%;
  text-align: right;
  vertical-align: middle;
}
.header__sectionBar div {
  display: inline-block;
  width: 25%;
}

.nav {
  display: none;
  position: sticky;
  top: 65px;
  z-index: 33;
  background-color: rgb(255, 255, 255);
}
.nav--mobile {
  display: block;
}
.nav .navbar__item {
  margin-top: 0.5em;
  padding: 0.5em;
  list-style-type: none;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
}
.nav .navbar__item a {
  text-decoration: none;
  color: rgb(17, 17, 17);
}

.banner {
  padding: 3em 1.5em;
  background-color: rgb(51, 51, 51);
}
.banner__subtitle {
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: left;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
}
.banner__title {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: left;
  font-family: "Old Standard TT", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(255, 255, 255);
  padding: 0;
}
.banner__paragraph {
  padding-top: 1em;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: black;
  position: relative;
  padding: 1em;
  width: 150px;
  top: 50px;
  left: 55%;
  background-color: rgb(255, 255, 255);
}
.banner__paragraph--XL {
  width: 200px;
  left: 40%;
}
.banner__paragraph span > a {
  text-decoration: none;
  color: black;
}
.banner__paragraph span:last-child {
  color: rgb(190, 173, 142);
}

.card {
  padding: 2em 2.5em;
  box-shadow: 0px 14px 24px 0px rgba(184, 184, 184, 0.1);
}
.card__picture {
  padding-top: 1em;
}
.card__subtitle {
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: left;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3px;
  color: rgb(119, 119, 119);
  margin-top: 1em;
}
.card__title {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: left;
  font-family: "Old Standard TT", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  color: rgb(17, 17, 17);
  padding-top: 0;
  padding-bottom: 0;
}
.card__paragraph {
  padding-top: 1em;
  text-align: left;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(119, 119, 119);
}
.card__price {
  padding-top: 1em;
  text-align: left;
  font-family: "Archivo", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  color: rgb(190, 173, 142);
}
.card__price span {
  font-size: 13px;
}
.card__button {
  display: block;
  width: 200px;
  margin: 2em 0;
  padding: 1.5em;
  border: none;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: rgb(255, 255, 255);
  background-color: rgb(190, 173, 142);
}

.facilities,
.popularRooms,
.rooms {
  padding: 2em 1.5em;
}
.facilities--dark,
.popularRooms--dark,
.rooms--dark {
  padding: 2em 1.5em;
  background-color: rgb(34, 34, 34);
}
.facilities__subtitle,
.popularRooms__subtitle,
.rooms__subtitle {
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3px;
  color: rgb(119, 119, 119);
}
.facilities__subtitle--dark,
.popularRooms__subtitle--dark,
.rooms__subtitle--dark {
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
}
.facilities__subtitle--beige,
.popularRooms__subtitle--beige,
.rooms__subtitle--beige {
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3px;
  color: rgb(190, 173, 142);
}
.facilities__title,
.popularRooms__title,
.rooms__title {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: center;
  font-family: "Old Standard TT", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(17, 17, 17);
  padding-top: 0;
  padding-bottom: 0.5em;
}
.facilities__title--dark,
.popularRooms__title--dark,
.rooms__title--dark {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: center;
  font-family: "Old Standard TT", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(255, 255, 255);
  padding-top: 0;
  padding-bottom: 0.5em;
}
.facilities__title--littledark,
.popularRooms__title--littledark,
.rooms__title--littledark {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: center;
  font-family: "Old Standard TT", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -1.2px;
  color: rgb(255, 255, 255);
  padding-top: 0;
  padding-bottom: 0.5em;
}
.facilities__swiper,
.popularRooms__swiper,
.rooms__swiper {
  position: relative;
  width: auto;
  height: 350px;
  overflow: hidden;
}
.facilities__swiper--dark,
.popularRooms__swiper--dark,
.rooms__swiper--dark {
  position: relative;
  width: auto;
  height: 350px;
  overflow: hidden;
  background-color: rgb(51, 51, 51);
}
.facilities__swiper--white,
.popularRooms__swiper--white,
.rooms__swiper--white {
  position: relative;
  width: auto;
  height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.facilities__swiper__image,
.popularRooms__swiper__image,
.rooms__swiper__image {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.facilities__swiper__image--white,
.popularRooms__swiper__image--white,
.rooms__swiper__image--white {
  position: relative;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
}
.facilities__swiper__image--white img,
.popularRooms__swiper__image--white img,
.rooms__swiper__image--white img {
  width: 100%;
  vertical-align: middle;
}
.facilities__swiper__image .image__icon,
.popularRooms__swiper__image .image__icon,
.rooms__swiper__image .image__icon {
  position: absolute;
  top: 60%;
  left: 5%;
}
.facilities__swiper__image .image__bckground,
.popularRooms__swiper__image .image__bckground,
.rooms__swiper__image .image__bckground {
  padding-top: 1em;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: 120px;
  font-weight: 700;
  line-height: 130px;
  color: rgba(34, 34, 34, 0.04);
  padding-top: 0;
}
.facilities__swiper__image .image__bckground--dark,
.popularRooms__swiper__image .image__bckground--dark,
.rooms__swiper__image .image__bckground--dark {
  padding-top: 1em;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: 120px;
  font-weight: 700;
  line-height: 130px;
  color: rgb(34, 34, 34);
  padding-top: 0;
}
.facilities__swiper__accesories,
.popularRooms__swiper__accesories,
.rooms__swiper__accesories {
  position: relative;
  margin: 0 auto;
  padding: 0.5em 1em;
  width: 200px;
  bottom: 20px;
  box-shadow: 0px 8px 16px 0px rgba(138, 138, 138, 0.05);
  background-color: rgb(255, 255, 255);
}
.facilities__swiper__description,
.popularRooms__swiper__description,
.rooms__swiper__description {
  padding: 0 1.5em;
}
.facilities__swiper__description .description__title,
.popularRooms__swiper__description .description__title,
.rooms__swiper__description .description__title {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: left;
  font-family: "Old Standard TT", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(17, 17, 17);
  margin-top: 1em;
  font-size: 28px;
  line-height: 36px;
}
.facilities__swiper__description .description__title--dark,
.popularRooms__swiper__description .description__title--dark,
.rooms__swiper__description .description__title--dark {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: left;
  font-family: "Old Standard TT", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(255, 255, 255);
  margin-top: 1em;
  font-size: 28px;
  line-height: 36px;
}
.facilities__swiper__description .description__title--white,
.popularRooms__swiper__description .description__title--white,
.rooms__swiper__description .description__title--white {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: center;
  font-family: "Old Standard TT", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1.2px;
  color: black;
  padding: 0;
  padding-bottom: 0.5em;
}
.facilities__swiper__description .description__paragraph,
.popularRooms__swiper__description .description__paragraph,
.rooms__swiper__description .description__paragraph {
  padding-top: 1em;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(119, 119, 119);
  padding: 0;
}
.facilities__swiper__description .description__paragraph--dark,
.popularRooms__swiper__description .description__paragraph--dark,
.rooms__swiper__description .description__paragraph--dark {
  padding-top: 1em;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(255, 255, 255);
  padding-top: 0;
  width: 100%;
}
.facilities__swiper__description .description__paragraph--white,
.popularRooms__swiper__description .description__paragraph--white,
.rooms__swiper__description .description__paragraph--white {
  padding-top: 1em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(119, 119, 119);
  padding: 0;
  padding-bottom: 0.5em;
  margin: 0 auto;
  width: 90%;
}
.facilities__swiper__description .description__price,
.popularRooms__swiper__description .description__price,
.rooms__swiper__description .description__price {
  padding-top: 1em;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.5px;
  color: rgb(190, 173, 142);
  display: inline-block;
  padding-bottom: 0;
}
.facilities__swiper__description .description__span,
.popularRooms__swiper__description .description__span,
.rooms__swiper__description .description__span {
  padding-top: 1em;
  text-align: right;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.5px;
  color: rgb(189, 189, 189);
  margin-left: 1em;
  padding-bottom: 0;
}
.facilities__swiper__description .description__span a,
.popularRooms__swiper__description .description__span a,
.rooms__swiper__description .description__span a {
  text-decoration: none;
  color: rgb(189, 189, 189);
}
.facilities__swiper__white__btn--prev, .facilities__swiper__white__btn--next,
.popularRooms__swiper__white__btn--prev,
.popularRooms__swiper__white__btn--next,
.rooms__swiper__white__btn--prev,
.rooms__swiper__white__btn--next {
  position: absolute;
  z-index: 9;
  width: 2rem;
  height: 2rem;
  border: 1px solid rgb(17, 17, 17);
  top: 6.5rem;
  transition: background-color 0.6s ease-in-out;
}
.facilities__swiper__white__btn--prev:hover, .facilities__swiper__white__btn--prev:active, .facilities__swiper__white__btn--next:hover, .facilities__swiper__white__btn--next:active,
.popularRooms__swiper__white__btn--prev:hover,
.popularRooms__swiper__white__btn--prev:active,
.popularRooms__swiper__white__btn--next:hover,
.popularRooms__swiper__white__btn--next:active,
.rooms__swiper__white__btn--prev:hover,
.rooms__swiper__white__btn--prev:active,
.rooms__swiper__white__btn--next:hover,
.rooms__swiper__white__btn--next:active {
  background-color: rgb(190, 173, 142);
}
.facilities__swiper__white__btn--next,
.popularRooms__swiper__white__btn--next,
.rooms__swiper__white__btn--next {
  right: 0.94rem;
}
.facilities__swiper__white__btn--prev,
.popularRooms__swiper__white__btn--prev,
.rooms__swiper__white__btn--prev {
  left: 0.94rem;
}
.facilities__swiper__pagination,
.popularRooms__swiper__pagination,
.rooms__swiper__pagination {
  margin-top: 0;
  position: relative;
  z-index: 10;
  height: 0.44rem;
  width: 100%;
  display: flex;
  gap: 0.44rem;
  justify-content: center;
}
.facilities__swiper__pagination--marginTop,
.popularRooms__swiper__pagination--marginTop,
.rooms__swiper__pagination--marginTop {
  margin-top: 2em;
  position: relative;
  z-index: 10;
  height: 0.44rem;
  width: 100%;
  display: flex;
  gap: 0.44rem;
  justify-content: center;
}
.facilities__swiper__darkbullet,
.popularRooms__swiper__darkbullet,
.rooms__swiper__darkbullet {
  background-color: #333333;
  width: 0.44rem;
  height: 0.44rem;
  border-radius: 3rem;
  transition: background-color 0.6s ease-in-out;
  pointer-events: all;
}
.facilities__swiper__darkbullet--active,
.popularRooms__swiper__darkbullet--active,
.rooms__swiper__darkbullet--active {
  background-color: rgb(190, 173, 142);
}
.facilities__swiper__bullet,
.popularRooms__swiper__bullet,
.rooms__swiper__bullet {
  background-color: #EDEDED;
  width: 0.44rem;
  height: 0.44rem;
  border-radius: 3rem;
  transition: background-color 0.6s ease-in-out;
  pointer-events: all;
}
.facilities__swiper__bullet--active,
.popularRooms__swiper__bullet--active,
.rooms__swiper__bullet--active {
  background-color: rgb(190, 173, 142);
}

.carrusel {
  position: relative;
  width: auto;
  overflow: hidden;
  margin-bottom: 2em;
  background-color: rgb(193, 187, 187);
}
.carrusel--counter {
  margin-top: 3em;
  position: relative;
  width: auto;
  overflow: hidden;
  margin-bottom: 2em;
  background-color: rgb(193, 187, 187);
}
.carrusel__picture {
  padding: 2em;
}
.carrusel__picture img {
  width: 80%;
}
.carrusel__pagination {
  margin-top: 0;
  position: relative;
  z-index: 10;
  height: 0.44rem;
  width: 100%;
  display: flex;
  gap: 0.44rem;
  justify-content: center;
}
.carrusel__pagination--marginTop {
  margin-top: 2em;
  position: relative;
  z-index: 10;
  height: 0.44rem;
  width: 100%;
  display: flex;
  gap: 0.44rem;
  justify-content: center;
}
.carrusel__darkbullet {
  background-color: #333333;
  width: 0.44rem;
  height: 0.44rem;
  border-radius: 3rem;
  transition: background-color 0.6s ease-in-out;
  pointer-events: all;
}
.carrusel__darkbullet--active {
  background-color: rgb(190, 173, 142);
}
.carrusel__bullet {
  background-color: #EDEDED;
  width: 0.44rem;
  height: 0.44rem;
  border-radius: 3rem;
  transition: background-color 0.6s ease-in-out;
  pointer-events: all;
}
.carrusel__bullet--active {
  background-color: rgb(190, 173, 142);
}

.footer {
  margin-top: 4em;
  padding: 2em 1.5em;
  position: relative;
}
.footer--about {
  margin-top: 0;
}
.footer__title {
  text-align: left;
  vertical-align: middle;
}
.footer__title .letter--H {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: left;
  font-family: "Archivo", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.2px;
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 0.6em 0.6em;
  background-color: rgb(190, 173, 142);
}
.footer__title .title--name {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: left;
  font-family: "Archivo", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.2px;
  color: black;
  display: inline-block;
  margin-left: 1em;
  width: 50%;
  letter-spacing: 3px;
}
.footer__title .title--name span {
  font-weight: 400;
}
.footer__paragraph {
  padding-top: 1em;
  text-align: justify;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(119, 119, 119);
  margin: 2em 0;
}
.footer .RedesSociales {
  width: 70%;
  text-align: left;
  background-color: rgb(248, 248, 248);
  margin-bottom: 2em;
}
.footer .RedesSociales img {
  padding: 0.5em;
}
.footer .Services {
  width: 100%;
}
.footer .Services__title {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: left;
  font-family: "Old Standard TT", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -1.2px;
  color: rgb(34, 34, 34);
}
.footer .Services__contenedor {
  display: inline-block;
}
.footer .Services__contenedor__list {
  padding-top: 1em;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 48px;
  color: rgb(119, 119, 119);
  display: inline-block;
  list-style-type: none;
  vertical-align: top;
  padding-top: 0;
  width: 49%;
}
.footer .Services__contenedor__list li {
  width: 165px;
}
.footer .ContactUs {
  margin-top: 2em;
  width: 100%;
  text-align: left;
}
.footer .ContactUs__title {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: left;
  font-family: "Old Standard TT", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -1.2px;
  color: rgb(34, 34, 34);
}
.footer .ContactUs__information {
  display: inline-block;
  padding-top: 2em;
}
.footer .ContactUs__information .info__title {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: left;
  font-family: undefined;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -1.2px;
  color: black;
  display: inline-block;
  width: 49%;
  list-style-type: none;
  vertical-align: top;
  margin-left: 1em;
}
.footer .ContactUs__information .info__title span {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -1.2px;
  color: rgb(119, 119, 119);
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("./public/images/Background-Footer.png");
  opacity: 0.03;
}

.Copyright_Terminos {
  padding: 1em 1.5em;
  background-color: rgb(248, 248, 248);
}
.Copyright_Terminos p {
  padding-top: 1em;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: black;
  padding-top: 0;
  padding: 0.5em 0;
  letter-spacing: -0.5px;
}

/*# sourceMappingURL=styles.css.map */
