@mixin Subtitle ($color: $color-grey, $position: center) {
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: $position;

    font-family: $font-archivo;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 3px;

    color: $color;
}