@mixin subtitle ($color: $color-grey) {
    padding-top: 1em;

    font-family: $font-archivo;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 3px;

    color: $color;




    /*font-family: $font-archivo;
    font-size: 14px;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 2.80px;

    color: $color-grey;


    padding-bottom: 2em;

    font-family: $font-archivo;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 3px;
    text-align: left;

    color: $color-grey; */
}