<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Miranda</title>
    <link rel="icon" type="image/vnd.icon" href="../public/images/favicon.ico">
    <link rel="stylesheet" href="../styles.css" type="text/css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
</head>
<body>
    <header class="header">
        <div class="menu-bar">
            <img src="../public/images/hamburger.png" alt="icon__menu" />
        </div>
        <div class="title">
            <h2 class="title--H">H</h2>
            <h3><span>HOTEL </span> MIRANDA</h3>
        </div>
        <div>
            <img class="" src="../public/images/contact.png" alt="icon__contact" />
        </div>
        <div>
            <img class="" src="../public/images/search.png" alt="icon__search" />
        </div>
    </header>
    <nav class="nav">
        <ul class="navbar">
            <li class="navbar__item"><a href="/index.html">            Home       </a></li>
            <li class="navbar__item"><a href="/views/AboutUs.html">    About Us    </a></li>
            <li class="navbar__item"><a href="/views/Offers.html">     Offers      </a></li>
            <li class="navbar__item"><a href="/views/Contact.html">    Contact     </a></li>
        </ul>
    </nav>
    <footer class="footer">
        <section class="footer__title">
            <h1 class="letter--H">H</h1>
            <h2>HOTEL <span>MIRANDA</span></h2>
        </section>
        <article class="info">
            <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed doing eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat ion ullamco laboris nisi.</p>
        </article>
        <section class="RedesSociales">

        </section>
        <article class="Services">
            <h1>Services.</h1>
            <div>
                <ul>
                    <li>+ Resturent & Bar</li>
                    <li>+ Swimming Pool</li>
                    <li>+ Wellness & Spa</li>
                    <li>+ Restaurant</li>
                    <li>+ Conference Room</li>
                    <li>+ Coctail Party Houser</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>+ Gaming Zone</li>
                    <li>+ Marrige Party</li>
                    <li>+ Party Planning</li>
                    <li>+ Tour Consultancy</li>
                </ul>
            </div>
        </article>
        <article class="ContactUs">
            <h1>Contact Us.</h1>
            <div>
                <img src="" alt="" />
                <h5>Phone Number <span>+987 876 765 76 577</span></h5>
            </div>
        </article>
        <section class="Copyright_Terminos">
            <p>Copyright By@Example - 2020</p>
            <p>Terms of use    |    Privacy Environmental Policy</p>
        </section>
    </footer>

    <script src="../scripts/index.js"></script>
</body>
</html>