@import '../constants/colors.scss';
@import '../constants/fonts.scss';
@import '../@mixins/Button.scss';
@import '../@mixins/Title.scss';
@import '../@mixins/Subtitle.scss';
@import '../@mixins/Text.scss';

.welcomeVideo{
    padding: 3em 1.5em;
    &__container{
        position: relative;
        margin: 0 auto;
        width: 100%;

        & video{
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__title{
        @include Title ($font-oldstandardTT, 32px, 400, 40px, center, black);  
        margin-top: 1em;
    }
}

.features{
    padding: 0 1.5em;

    &__box{
        display: flex;
        justify-content: space-between;
    }

    &__container{
        padding: 2em 1em;

        &--breakfast,
        &--cityGuide{
            width: 55%;
        }
        &--airport{
            width: 45%;
            background-color: $background-beige;
        }
        &--luxuryRoom{
            width: 45%;
        }
    }

    &__name{
        font-family: $font-archivo;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 2.40px;

        width: 100%;
    }
}

.counter{
    padding: 3em 1.5em;

    &__subtitle{
        @include Subtitle($color-grey, left);
        padding: 0;
    }

    &__title{
        @include Title($font-oldstandardTT, 56px, 400, 60px, left);
        padding-bottom: 0.5em;
    }

    &__article{
        padding: 2em 0;
        text-align: justify;
        vertical-align: middle;
        margin-left: 1em;

        &__imagen{
            display: inline-block;
            width: 20%;
        }
    
        &__description{
            display: inline-block;
            width: 50%;
            margin-left: 0.5em;
    
            & h1{
                font-family: $font-oldstandardTT;
                font-size: 60px;
                font-weight: 400;
                line-height: 60px;
                letter-spacing: -1.80px;
            }
    
            & p{
                font-family: $font-roboto;
                font-size: 16px;
                font-weight: 400;
                line-height: 16px;
                
                color: $color-grey;
            }
        }
    
        &__next{
            display: inline-block;
            width: 15%;
            margin-left: 1em;
            text-align: right;
        }
    }

    &__swiper{
        margin-top: 3em;
        overflow: hidden;

        &__pagination{
            margin-top: 1rem;
            position: relative;
            z-index: 10;
            height: 0.44rem;
            width: 100%;
            display: flex;
            gap: 0.44rem;
            justify-content: center;
        }

        &__darkbullet {
            background-color: #333333;
            width: 0.44rem;
            height: 0.44rem;
            border-radius: 3rem;
            transition: background-color 0.6s ease-in-out;
            pointer-events: all;
        }

        
        &__bullet {
            background-color: #EDEDED;
            width: 0.44rem;
            height: 0.44rem;
            border-radius: 3rem;
            transition: background-color 0.6s ease-in-out;
            pointer-events: all;

            &--active {
                background-color: $background-beige;
            }
        }
    }
}