@import '../constants/colors.scss';
@import '../constants/fonts.scss';
@import '../@mixins/Button.scss';
@import '../@mixins/Title.scss';
@import '../@mixins/Subtitle.scss';
@import '../@mixins/Text.scss';


.banner{
    &--promo{
        padding: 2em 1.5em;
        background-color: $background-grey-strong;
    }

    &__subtitle--promo{
        color: $background-beige;
    }

    &__paragraph--promo{
        @include Text ($font-archivo, 14px, 400, 24px, justify, undefined);

        margin: 1em 0;
    }

    &__video--promo{
        width: 100%;
        overflow: hidden;
    }

    &__button{
        &--beige{
            @include Button($font-archivo, $color-white);
            background-color: $background-beige;
        }
    
        &--grey{
            @include Button($font-archivo, $color-white);
            border: 2px solid rgba(255, 255, 255, 0.33);
            background-color: transparent;
        }
    }
}


.calendar{
    background-color: $background-grey-strong;
    color: $color-white;
    padding: 2em 1.5em;
}
.formulario{
    .form{
        text-align: left;
        
        &__title{
            font-family: $font-roboto;
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;

            color: $color-white;
            
        }

        &__input{

            &--calendar{
                background-color: $background-grey-strong;
                border: none;
                outline: none;
                color: $background-beige;
                width: 5%;
            }

            &--text{
                border: none;
                border-bottom: 1px solid $background-beige;
                outline: none;
                padding: 5px 0;
                font-size: 16px;
                width: 90%;

                background-color: $background-grey-strong;
                
            }
        }
    }

    &__button{
        @include Button($font-archivo, $color-white);
        width: 250px;
        background-color: $background-beige;
    }
}
 
.aboutUS{
    padding: 2em 1.5em;
    margin-top: 3em;
    background-color: $background-grey-light;

    &__subtitle{
        @include Subtitle(undefined, left);
    }

    &__title{
        @include Title(undefined, 56px, 400, 60px);
    }

    &__paragraph{
        @include Text ($font-archivo, 14px, 400, 24px, justify, undefined);        
    }

    &__button{
        @include Button($font-archivo, $color-white);
        background-color: $background-beige;
    }
}

.strongTeam{
    position: relative;
    padding: 3em 1.5em;

    &__imagen {
        margin: 0 auto;
        width: 80%;
        height: 400px;

        & img{
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    &__logo{
        position: relative;
        .logo--primary{}
        .logo--secondary{}
    }

    &__description{
        .description__title{
            @include Text ($font-oldstandardTT, 30px, 400, 30px);
            letter-spacing: -1.0px;
        }
        .description__paragraph{
            @include Text ($font-roboto, 14px, 400, 22px, center, black);
            margin: 0 auto;
            width: 200px;
        }
    }
}
.luxuryRoom{
    position: relative;
    padding: 3em 1.5em;

    &__imagen {
        margin: 0 auto;
        width: 80%;
        height: 400px;

        & img{
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    &__logo{
        position: relative;
        .logo--primary{}
        .logo--secondary{}
    }

    &__description{
        .description__title{
            @include Text ($font-oldstandardTT, 30px, 400, 30px);
            letter-spacing: -1.0px;
        }
        .description__paragraph{
            @include Text ($font-roboto, 14px, 400, 22px, center, black);
            margin: 0 auto;
            width: 200px;
        }
    }
}


.rooms{
    padding: 2em 0;
    &__subtitle{
        @include Subtitle();        
    }

    &__title{
        @include Title(undefined, 56px, 400, 60px);
    }
}

.menuFoods{
    position: relative;
    padding: 2em 1.5em;
    color: $color-black;
    

    & img{
        position: relative;
        left: 40%;
    }
    
    &__subtitle{
        @include Subtitle(undefined, left);
    }

    &__title{
        @include Title(undefined, 56px, 400, 60px, left);
    }
}

.stadistics{
    padding: 3em;
    background-color: $background-grey-strong;

    .stadistic{
        padding: 1.5em;

        &__description{
            & h1{
                font-family: $font-roboto;
                font-size: 60px;
                font-weight: 700;
                line-height: 82px;

                color: $color-white;
                
                & span{
                    font-family: $font-roboto;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 22px;
                                        
                }
            }
            & p{
                font-family: $font-roboto;
                font-size: 16px;
                font-weight: 700;
                line-height: 22px;
                
                color: $color-grey;
            }
        }
    }
}