@import '../constants/fonts.scss';
@import '../constants/colors.scss';
@import '../@mixins/Text.scss';
@import '../@mixins/Pagination.scss';

.rooms{
    padding-bottom: 0;
    &__swiper{
        margin-top: 1em;
        height: 100%;

        &__description{
            padding: 0;
        }

        &__controls{
            margin-top: 2em;
            vertical-align: middle;
            &__prev,
            &__next{
                display: inline-block;
                width: 10%;
                vertical-align: middle;
                
                &:hover{
                    background-color: $background-beige;
                }
            }
    
            .rooms__swiper__paginationn{
                display: inline-block;
                width: 70%;
    
                & span{
                    @include Text ($font-roboto, 14px, 700, 19px, center, black);
                    margin: 0 1em;
                    padding: 0;
                }
            }

            .rooms__swiper__bullett{
                width: 1rem;
                height: 1rem;
                padding: 1em !important;
                transition: background-color 0.6s ease-in-out;
                pointer-events: all;

                &--active {
                    background-color: $background-beige;
                    color: $color-white !important;
                }
            }
        }
    }
}