@import '../constants/colors.scss';
@import '../constants/fonts.scss';
@import '../@mixins/button.scss';
@import '../@mixins/title.scss';
@import '../@mixins/subtitle.scss';

.banner{
    &__title{
        padding-top: 0.5em;
    }
    &__paragraf{
        position: relative;
        padding: 1em;
        width: 150px;
        top: 50px;
        left: 55%;

        background-color: $color-white;

        & span{
            font-family: $font-archivo;
            font-size: 16px;
            font-weight: 700;
            line-height: 17.41px;           
        }
    }
}

.card{

    &__video{
        position: relative;
        margin: 0 auto; /* Centra el contenedor */
        width: 100%;

        & video{
            width: 100%; /* Ancho completo del contenedor */
            height: auto; /* Ajusta la altura automáticamente */
            display: block;
        }
    }

    &__description{

        &__name{
            padding-top: 1em;
            line-height: 39px;
        }
    }
}

.features{
    padding: 0 1.5em;

    &__box{
        display: flex;
        justify-content: space-between;
    }

    &__container{
        padding: 2em 1em;

        &--breakfast,
        &--cityGuide{
            width: 55%;
        }
        &--airport{
            width: 45%;
            background-color: $background-beige;
        }
        &--luxuryRoom{
            width: 45%;
        }
    }

    &__name{
        font-family: $font-archivo;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 2.40px;

        width: 100%;
    }
}

