.banner__button--beige {
  display: block;
  width: 200px;
  margin: 2em 0;
  padding: 1.5em;
  border: none;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: rgb(255, 255, 255);
  background-color: rgb(190, 173, 142);
}
.banner__button--grey {
  display: block;
  width: 200px;
  margin: 2em 0;
  padding: 1.5em;
  border: none;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: rgb(255, 255, 255);
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: transparent;
}

.calendar {
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  padding: 2em 1.5em;
}

.form__arrival, .form__departure {
  text-align: left;
}
.form__arrival__title, .form__departure__title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: rgb(255, 255, 255);
}
.form__arrival__input--calendar, .form__departure__input--calendar {
  background-color: rgb(34, 34, 34);
  border: none;
  outline: none;
  color: rgb(190, 173, 142);
  width: 5%;
}
.form__arrival__input--text, .form__departure__input--text {
  border: none;
  border-bottom: 1px solid rgb(190, 173, 142);
  outline: none;
  padding: 5px 0;
  font-size: 16px;
  width: 90%;
  background-color: rgb(34, 34, 34);
}
.form__button {
  display: block;
  width: 200px;
  margin: 2em 0;
  padding: 1.5em;
  border: none;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: rgb(255, 255, 255);
  width: 250px;
  background-color: rgb(190, 173, 142);
}
@media (min-width: 1000px) {
  .form {
    display: flex;
    gap: 3em;
    margin: 0 auto;
    width: 80%;
    padding: 2em 0;
    position: relative;
  }
  .form__button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.ourExperience {
  position: relative;
}
.ourExperience .aboutUS {
  padding: 2em 1.5em;
  margin-top: 3em;
  background-color: rgb(248, 248, 248);
}
.ourExperience .aboutUS__subtitle {
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: left;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3px;
  color: undefined;
}
.ourExperience .aboutUS__title {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: left;
  font-family: Old Standard TT;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(17, 17, 17);
}
.ourExperience .aboutUS__paragraph {
  padding-top: 1em;
  text-align: justify;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(119, 119, 119);
}
.ourExperience .aboutUS__button {
  display: block;
  width: 200px;
  margin: 2em 0;
  padding: 1.5em;
  border: none;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: rgb(255, 255, 255);
  background-color: rgb(190, 173, 142);
}
.ourExperience .details .strongTeam {
  position: relative;
  padding: 3em 1.5em;
}
.ourExperience .details .strongTeam__image {
  margin: 0 auto;
  width: 80%;
  height: 400px;
}
.ourExperience .details .strongTeam__image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.ourExperience .details .strongTeam__info__logo {
  position: relative;
  margin-top: 4em;
  margin-bottom: 2em;
}
.ourExperience .details .strongTeam__info__logo .logo--secondary {
  position: absolute;
  z-index: -2;
  top: -10%;
  left: 45%;
}
.ourExperience .details .strongTeam__info__description .description__title {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: center;
  font-family: "Old Standard TT", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -1.2px;
  color: rgb(17, 17, 17);
  padding: 0;
  letter-spacing: -0.9px;
}
.ourExperience .details .strongTeam__info__description .description__paragraph {
  padding-top: 1em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: black;
  margin: 0 auto;
  width: 200px;
}
.ourExperience .details .luxuryRoom {
  position: relative;
  padding: 3em 1.5em;
}
.ourExperience .details .luxuryRoom--dark {
  margin: 0 auto;
  padding: 3em 1.5em;
  width: 75.5%;
  background-color: rgb(34, 34, 34);
}
.ourExperience .details .luxuryRoom__imagen {
  margin: 0 auto;
  width: 80%;
  height: 400px;
}
.ourExperience .details .luxuryRoom__imagen img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.ourExperience .details .luxuryRoom__logo {
  position: relative;
}
.ourExperience .details .luxuryRoom__description .description__title {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: center;
  font-family: "Old Standard TT", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -1.2px;
  color: rgb(255, 255, 255);
  letter-spacing: -0.9px;
}
.ourExperience .details .luxuryRoom__description .description__paragraph {
  padding-top: 1em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(255, 255, 255);
  padding: 0;
  margin: 0 auto;
  width: 200px;
}

@media (min-width: 1000px) {
  .ourExperience {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    margin: 0 auto;
    width: 80%;
    padding: 0;
    height: 800px;
  }
  .ourExperience .aboutUS {
    padding: 0%;
    width: 70%;
  }
  .ourExperience .aboutUS__subtitle {
    background-color: white;
    color: rgb(190, 173, 142);
  }
  .ourExperience .aboutUS__title {
    padding-top: 0.5em;
    padding-bottom: 1em;
    text-align: left;
    font-family: Old Standard TT;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: -1.2px;
    color: rgb(17, 17, 17);
    letter-spacing: -2.4px;
    padding-bottom: 0;
  }
  .ourExperience .aboutUS__paragraph {
    width: 70%;
  }
  .ourExperience .details {
    display: flex;
    justify-content: left;
    gap: 0;
    width: 100%;
  }
  .ourExperience .details .strongTeam {
    display: flex;
    flex-direction: column-reverse;
    justify-content: left;
    width: 80%;
  }
  .ourExperience .details .luxuryRoom {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}
.introVideo {
  padding: 3em 1.5em;
  background-color: rgb(34, 34, 34);
}
.introVideo__subtitle {
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: left;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3px;
  color: rgb(190, 173, 142);
}
.introVideo__title {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: left;
  font-family: "Old Standard TT", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(255, 255, 255);
  padding: 0;
}
.introVideo__paragraph {
  padding-top: 1em;
  text-align: justify;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(119, 119, 119);
  padding-bottom: 2em;
}
.introVideo__video {
  width: 100%;
  overflow: hidden;
}

.menuFoods {
  padding: 2em 1.5em;
}
.menuFoods__icon {
  position: relative;
  left: 43%;
}
.menuFoods__subtitle {
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: left;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3px;
  color: rgb(119, 119, 119);
  padding-bottom: 0;
}
.menuFoods__title {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: left;
  font-family: "Old Standard TT", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(17, 17, 17);
  padding-bottom: 0.5em;
}
.menuFoods__swiper {
  position: relative;
  width: auto;
  overflow: hidden;
}
.menuFoods__swiper__container {
  display: flex;
  text-align: left;
  padding: 1em 0;
}
.menuFoods__swiper__image img {
  width: 120px;
  height: 120px;
}
.menuFoods__swiper__description {
  margin-left: 1.5em;
}
.menuFoods__swiper__description .description__title {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: left;
  font-family: "Old Standard TT", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -1.2px;
  color: rgb(17, 17, 17);
  padding-bottom: 0;
}
.menuFoods__swiper__description .description__paragraph {
  padding-top: 1em;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: black;
  padding-top: 0.5em;
}
.menuFoods__swiper__controls {
  display: flex;
  justify-content: right;
  gap: 10px;
}
.menuFoods__swiper__controls .controls__btn--prev {
  width: 2rem;
  height: 2rem;
  background-color: rgb(248, 248, 248);
}
.menuFoods__swiper__controls .controls__btn--next {
  width: 2rem;
  height: 2rem;
  background-color: rgb(190, 173, 142);
}

.stadistics {
  padding: 3em;
  background-color: rgb(34, 34, 34);
}
.stadistics .stadistic {
  padding: 1.5em;
}
.stadistics .stadistic__description h1 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 82px;
  color: rgb(255, 255, 255);
}
.stadistics .stadistic__description h1 span {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
.stadistics .stadistic__description p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: rgb(119, 119, 119);
}

/*# sourceMappingURL=home.css.map */
