.banner__button--beige {
  display: block;
  width: 200px;
  margin: 2em 0;
  padding: 1.5em;
  border: none;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: rgb(255, 255, 255);
  background-color: rgb(190, 173, 142);
}
.banner__button--grey {
  display: block;
  width: 200px;
  margin: 2em 0;
  padding: 1.5em;
  border: none;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: rgb(255, 255, 255);
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: transparent;
}

.calendar {
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  padding: 2em 1.5em;
}

.formulario .form {
  text-align: left;
}
.formulario .form__title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: rgb(255, 255, 255);
}
.formulario .form__input--calendar {
  background-color: rgb(34, 34, 34);
  border: none;
  outline: none;
  color: rgb(190, 173, 142);
  width: 5%;
}
.formulario .form__input--text {
  border: none;
  border-bottom: 1px solid rgb(190, 173, 142);
  outline: none;
  padding: 5px 0;
  font-size: 16px;
  width: 90%;
  background-color: rgb(34, 34, 34);
}
.formulario__button {
  display: block;
  width: 200px;
  margin: 2em 0;
  padding: 1.5em;
  border: none;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: rgb(255, 255, 255);
  width: 250px;
  background-color: rgb(190, 173, 142);
}

.aboutUS {
  padding: 2em 1.5em;
  margin-top: 3em;
  background-color: rgb(248, 248, 248);
}
.aboutUS__subtitle {
  padding-top: 1em;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3px;
  color: rgb(119, 119, 119);
  /*font-family: $font-archivo;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.80px;

  color: $color-grey;


  padding-bottom: 2em;

  font-family: $font-archivo;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3px;
  text-align: left;

  color: $color-grey; */
  text-align: left;
}
.aboutUS__title {
  padding-top: 1em;
  text-align: center;
  font-family: "Old Standard TT", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(17, 17, 17);
}
.aboutUS__parragraf {
  padding-top: 1em;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  color: rgb(119, 119, 119);
}
.aboutUS__button {
  display: block;
  width: 200px;
  margin: 2em 0;
  padding: 1.5em;
  border: none;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: rgb(255, 255, 255);
  background-color: rgb(190, 173, 142);
}

.rooms {
  padding: 2em 0;
}
.rooms__subtitle {
  padding-top: 1em;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3px;
  color: rgb(119, 119, 119);
  /*font-family: $font-archivo;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.80px;

  color: $color-grey;


  padding-bottom: 2em;

  font-family: $font-archivo;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3px;
  text-align: left;

  color: $color-grey; */
}
.rooms__title {
  padding-top: 1em;
  text-align: center;
  font-family: "Old Standard TT", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(17, 17, 17);
  padding-bottom: 0.5em;
}

.facilities {
  padding: 2em 1.5em;
}
.facilities__subtitle {
  padding-top: 1em;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3px;
  color: rgb(119, 119, 119);
  /*font-family: $font-archivo;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.80px;

  color: $color-grey;


  padding-bottom: 2em;

  font-family: $font-archivo;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3px;
  text-align: left;

  color: $color-grey; */
}
.facilities__title {
  padding-top: 1em;
  text-align: center;
  font-family: "Old Standard TT", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(17, 17, 17);
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.menuFoods {
  position: relative;
  padding: 2em 1.5em;
  color: rgb(17, 17, 17);
}
.menuFoods img {
  position: relative;
  left: 44%;
}
.menuFoods__subtitle {
  padding-top: 1em;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3px;
  color: rgb(119, 119, 119);
  /*font-family: $font-archivo;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.80px;

  color: $color-grey;


  padding-bottom: 2em;

  font-family: $font-archivo;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3px;
  text-align: left;

  color: $color-grey; */
  text-align: left;
}
.menuFoods__title {
  padding-top: 1em;
  text-align: left;
  font-family: "Old Standard TT", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(17, 17, 17);
  padding-top: 0.5em;
}

.stadistics {
  padding: 3em;
  background-color: rgb(34, 34, 34);
}
.stadistics .stadistic {
  padding: 1.5em;
}
.stadistics .stadistic__description h1 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 82px;
  color: rgb(255, 255, 255);
}
.stadistics .stadistic__description h1 span {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
.stadistics .stadistic__description p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: rgb(119, 119, 119);
}

/*# sourceMappingURL=home.css.map */
