.banner{
    padding: 3em 1.5em;
    background-color: $background-grey;
    
    &__subtitle{
        @include subtitle($color-white);
        text-align: left;
    }

    &__title{
        @include title (left, $color-white)
    }
}