.banner{
    padding: 3em 1.5em;
    background-color: $background-grey;
    color: $color-white;
    
    &__subtitle{
        padding-top: 1em;

        font-family: $font-archivo;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 3px;
        text-align: left;
    }

    &__title{
        padding-top: 1em;

        font-family: $font-oldstandardTT;
        font-size: 56px;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: -1.2px;
        text-align: left;
        
    }

    &__container--video{
        width: 100%;
        overflow: hidden;
    }
}