.facilities{
    padding: 2em 1.5em;

    &--dark{
        padding: 2em 1.5em;
        background-color: $background-grey-strong;
    }

    &__subtitle{
        @include Subtitle();

        &--dark{
            @include Subtitle($color-white);
        }
    }

    &__title{
        @include Title($font-oldstandardTT, 56px, 400, 60px);
        padding-top: 0;
        padding-bottom: 0.5em;
        
        &--dark{
            @include Title($font-oldstandardTT, 56px, 400, 60px,undefined, $color-white);
            padding-top: 0;
            padding-bottom: 0.5em;
        }
    }

    &__swiper{
        position: relative;
        width: auto;
        height: 350px;
        overflow: hidden;

        &--dark{
            position: relative;
            width: auto;
            height: 350px;
            overflow: hidden;

            background-color: $background-grey;
        }

        &__image{
            position: relative;
            display: flex;
            justify-content: flex-end;

            .image__icon{
                position: absolute;
                top: 60%;
                left: 5%;

            }
            .image__bckground{
                @include Text ($font-archivo, 120px, 700, 130px, center, rgba(34, 34, 34, 0.04));
                padding-top: 0;

                &--dark{
                    @include Text ($font-archivo, 120px, 700, 130px, center, $background-grey-strong);
                    padding-top: 0;
                }
            }
        }

        &__description{
            padding: 0 1.5em;

            .description__title{
                @include Title($font-oldstandardTT, 56px, 400, 60px,left);
                margin-top: 1em;
                font-size: 28px;
                line-height: 36px;

                &--dark{
                    @include Title($font-oldstandardTT, 56px, 400, 60px,left, $color-white);
                    margin-top: 1em;
                    font-size: 28px;
                    line-height: 36px;
                }
            }

            .description__paragraph{
                @include Text($font-roboto, 14px, 400, 24px, left);
                padding: 0;
                
                &--dark{
                    @include Text($font-roboto, 14px, 400, 24px, left, $color-white);
                    padding-top: 0;
                    width: 100%;
                }
            }
        }

        &__pagination{
            position: relative;
            z-index: 10;
            height: 0.44rem;
            width: 100%;
            display: flex;
            gap: 0.44rem;
            justify-content: center;

            &--dark{
                margin-top: 2em;
                position: relative;
                z-index: 10;
                height: 0.44rem;
                width: 100%;
                display: flex;
                gap: 0.44rem;
                justify-content: center;
            }
        }

        &__darkbullet {
            background-color: #333333;
            width: 0.44rem;
            height: 0.44rem;
            border-radius: 3rem;
            transition: background-color 0.6s ease-in-out;
            pointer-events: all;
        }

        
        &__bullet {
            background-color: #EDEDED;
            width: 0.44rem;
            height: 0.44rem;
            border-radius: 3rem;
            transition: background-color 0.6s ease-in-out;
            pointer-events: all;

            &--active {
                background-color: $background-beige;
            }
        }
    
    }
}