%background-footer {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url("./public/images/Background-Footer.png");
    opacity: 0.03;
}

.footer{
    margin-top: 4em;
    padding: 2em 1.5em;
    position: relative;

    &__title,
    .title{
        font-family: $font-archivo;
        text-align: left;

        & h2{
            display: inline-block;
            width: 50%;
            vertical-align: middle;
            margin-left: 1em;

            font-size: 26px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 3px;

            & span{
                font-weight: 400;              
            }
        }

        &--H {
            display: inline-block;
            padding: 0.4em 0.6em;
            vertical-align: middle;

            font-size: 40px;
            font-weight: 700;

            background-color: $background-beige;
            color: $color-white;
        }
        
    }

    .parragraf{
        margin: 2em 0;

        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: justify;
        color: $color-grey;
    }

    .RedesSociales{
        width: 70%;
        text-align: left;
        background-color: $background-grey-light;

        & img{
            padding: 0.5em;
        }

        margin-bottom: 2em;
    }

    .Services{
        width: 100%;
        text-align: left;

        &__title{
            padding-bottom: 1em;

            font-family: $font-oldstandardTT;
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;

            color: $color-grey-strong;
        }

        &__contenedor{
            display: inline-block;

            &__list{
                display: inline-block;
                width: 49%;
                list-style-type: none;
                vertical-align: top;

                font-family: $font-roboto;
                font-size: 16px;
                font-weight: 400;
                line-height: 48px;
                
                color: $color-grey;

                & li{
                    width: 165px;
                }
            }
        }
    }

    .ContactUs{
        margin-top: 2em;
        width: 100%;
        text-align: left;

        &__title{
            font-family: $font-oldstandardTT;
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;

            color: $color-grey-strong;
        }

        &__contenedor{
            display: inline-block;
            padding-top: 2em;

            & h5{
                display: inline-block;
                width: 49%;
                list-style-type: none;
                vertical-align: top;
                margin-left: 1em;

                font-family: $font-oldstandardTT;
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                
                color: $color-black;

                & span{
                    font-family: $font-roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16.40px;
                    text-align: left;

                    color: $color-grey;
                    
                }
                
            }
        }
    }
}

.footer::before{
    @extend %background-footer;
}

.Copyright_Terminos{
    padding: 1em 1.5em;
    background-color: $background-grey-light;

    & p{
        padding: 0.5em 0;

        font-family: $font-roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 18.80px;
        letter-spacing: -0.50px;
        text-align: left;
    }
    
}