.header{
    position: sticky;
    top: 0;
    padding: 0.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 3px 6px 0px #0000004A;

    .title{
        display: flex;
        align-items: center;

        &--H {
            padding: 0.5em;
            box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.25);
        }   

        & h3{
            width: 20%;
            line-height: 70%;
        }
    }

}

.nav{
    position: sticky;
    top: 68px;
    display: none;
    

    &--mobile{
        display: block;
    }
    
    .navbar{
        
        &__item{
            list-style-type: none;

            & a{
                text-decoration: none;
                color: $color-black;
            }
        }
    }
}
