.header{
    display: inline-block;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 33;
    padding: 1em;
    box-shadow: 0px 3px 6px 0px #0000004A;

    &__menuBar,
    .menuBar {
        display: inline-block;
        width: 45%;
        text-align: left;

        &--button{
            display: inline-block;
        }

        &--logo,
        .logo {
            display: inline-block;
            margin-left: 1em;
            vertical-align: middle;

            &--H{
                display: inline-block;
                padding: 0.5em;
                box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.25);
            }

            &--HotelMiranda{
                display: inline-block;
                vertical-align: middle;
                margin-left: 0.5em;
            }
        } 
    }

    &__sectionBar{
        display: inline-block;
        width: 45%;
        text-align: right;
        vertical-align: middle;
        
        & div{
            display: inline-block;
            width: 25%;
        }
    }

}

.nav{
    display: none;
    position: sticky;
    top: 68px;

    &--mobile{
        display: block;
        margin: 1em;
    }
    
    .navbar{
        &__item{
            margin-top: 0.5em;
            padding: 0.5em;
            list-style-type: none;

            font-family: $font-archivo;
            font-size: 16px;
            font-weight: 600;
            line-height: 18px;
            text-align: left;

            & a{
                text-decoration: none;
                color: $color-black;
            }
        }
    }
}
