.swiper {
    width: auto;
    height: 400px;


    &__imagenes{
        background-color: $background-grey-photo;
        & img{
            width: 80%;
            vertical-align: middle;
        }
    }
    &__description{
        padding: 2em;
        & h2{
            font-family: $font-oldstandardTT;
            font-size: 28px;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: -1.20px;
                        
            color: $color-black;
        }

        &--loremIpsu{
            font-family: $font-roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;

            color: $color-grey;
            
        }

        &--price{
            font-family: $font-archivo;
            font-size: 32px;
            font-weight: 700;
            line-height: 43px;
            
            color: $background-beige;

            & span{
                font-family: $font-archivo;
                font-size: 13px;
                font-weight: 700;
                line-height: 43px;
                text-align: center;
                               
                color: $background-beige;
            }
        }
    }

    &-button-prev{
        top: var(--swiper-navigation-top-offset,30%);

        &:after{
            content: none;
        }
    }

    &-button-next{
        top: var(--swiper-navigation-top-offset,30%);

        &:after{
            content: none;
        }
    }
}

.swiper__rating{
    width: auto;
    height: 320px;
    &__banner{
        position: relative;
        text-align: left;
        vertical-align: bottom;

        & h1{
            position: absolute;
            top: 0%;
            left: 50%;

            font-family: $font-archivo;
            font-size: 120px;
            font-weight: 700;
            line-height: 130px;

            color: rgba(34, 34, 34, 0.04);
            
        }
    }

    &__title{
        margin-top: 2em;
        font-family: $font-oldstandardTT;
        font-size: 30px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.90px;
        text-align: left;
        
    }

    &__parragraf{
        margin-top: 2em;
        width: 80%;

        font-family: $font-archivo;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        
        color: $color-grey;
    }

}