@mixin swiper () {
    &__imagenes{
        background-color: $background-grey-photo;
    }

    &__description{
        padding: 2em;

        &__title{
            font-family: $font-oldstandardTT;
            font-size: 28px;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: -1.20px;

            color: $color-black;
        }

        &__parragraf{
            margin-top: 2em;
            font-family: $font-roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;

            color: $color-grey;            
        }
    }
}

.rooms__swiper{
    position: relative;
    width: auto;
    height: 400px;
    overflow: hidden;

    .swiper{
        @include swiper();

        &__imagenes{
            & img{
                width: 80%;
                vertical-align: middle;
            }
        }

        &__description{

            &__parragraf--room{
                margin-top: 0;
            }
    
            &__price{
                font-family: $font-archivo;
                font-size: 32px;
                font-weight: 700;
                line-height: 43px;
                
                color: $background-beige;
    
                & span{
                    font-family: $font-archivo;
                    font-size: 13px;
                    font-weight: 700;
                    line-height: 43px;
                    text-align: center;
                                   
                    color: $background-beige;
                }
            }
        }
    }

    @include btn-swiper();
}

.facilities__swiper{
    position: relative;
    width: auto;
    height: 320px;
    overflow: hidden;

    .swiper{
        @include swiper();
        
        &__imagenes{
            background-color: transparent;
            
            & h1{
                position: absolute;
                top: 0%;
                left: 50%;
        
                font-family: $font-archivo;
                font-size: 120px;
                font-weight: 700;
                line-height: 130px;
        
                color: rgba(34, 34, 34, 0.04); 
            }
        }
    
        &__description{
            &__title--score{
                margin-top: 2em;
                text-align: left;
            }

            &__parragraf--score{
                text-align: left;
            }

        }
    }

    @include btn-swiper();

    &__pagination {
        margin-top: 4rem;
        position: relative;
        z-index: 10;
        height: 0.44rem;
        width: 100%;
        display: flex;
        gap: 0.44rem;
        justify-content: center;
    }

    &__darkbullet {
        background-color: #333333;
        width: 0.44rem;
        height: 0.44rem;
        border-radius: 3rem;
        transition: background-color 0.6s ease-in-out;
        pointer-events: all !important;
    }

    &__bullet {
        background-color: #EDEDED;
        width: 0.44rem;
        height: 0.44rem;
        border-radius: 3rem;
        transition: background-color 0.6s ease-in-out;
        pointer-events: all !important;

        &--active {
            background-color: $background-beige;
        }
    }

}

.cards__swiper{
    position: relative;
    margin-top: 3em;
    width: auto;
    height: 100%;
    overflow: hidden;

    &__imagenes{
        background-color: transparent;
        & img{
            width: 80%;
            vertical-align: middle;
        }
    }

    &__accesories{
        position: relative;
        margin: 0 auto;
        padding: 0.5em 1em;
        width: 200px;
        bottom: 20px;
        box-shadow: 0px 8px 16px 0px rgba(138, 138, 138, 0.05);

        
        background-color: $color-white;
    }

    &__description{
        padding: 2em;
        padding-top: 0;

        &__title{
            font-family: $font-oldstandardTT;
            font-size: 28px;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: -1.20px;

            color: $color-black;
        }

        &__parragraf{
            margin-top: 2em;
            font-family: $font-roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;

            color: $color-grey;            
        }

        &__price{
            padding-top: 1em;
            display: inline-block;
            font-family: $font-archivo;
            font-size: 16px;
            font-weight: 700;
            line-height: 17.41px;            
            
            color: $background-beige;
        }
        &__span{
            margin-left: 1em;
            font-family: $font-archivo;
            font-size: 16px;
            font-weight: 700;
            line-height: 17.41px;
            text-align: right;
            
                            
            color: rgba(189, 189, 189, 1);
        }
    }
}